body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

nav{
    /* background: black; */
    color: white;
    width: 100%;
    height: 64px;
    padding: 1em 0;
    position: fixed;
    z-index: 9;
}

nav ul{
    list-style: none;
    position: absolute;
    right: 24px;
}

nav .brand{
    display: inline-block;
    position: absolute;
    left: 24px;
    top: 28px;
    font-size: 1.6em;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a.active{
    color: black;
    border-bottom: 1px solid black;
}

header .hero{
    color: white;
    position: relative;
}

header .hero .hero-image{
    width: 100%;
}
.filter{
    background: rgba(0, 0, 255, 0.1);
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
}

