* {
    margin: 0;
    padding: 0;
}

body {
    color: #4779D4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

nav {
    /* background: black; */
    color: white;
    width: 100%;
    height: 64px;
    padding: 1em 0;
    z-index: 9;
}

nav ul {
    list-style: none;
    position: absolute;
    right: 24px;
}

nav .brand {
    display: inline-block;
    position: absolute;
    left: 24px;
    top: 16px;
    font-size: 4vh;
}

nav .brand a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    margin-right: 1em;
    font-weight: bold;
    font-size: 2.8vh;
    text-decoration: none;
}

nav ul li a:hover,
nav .brand a:hover {
    color: black;
}

nav ul li a.active {
    color: black;
    border-bottom: 1px solid black;
}

nav ul li a.active:hover {
    color: white;
    border-bottom: 1px solid white;
}

header .hero {
    color: white;
    position: relative;
}

header .hero .hero-image {
    width: 100%;
}

.filter {
    background: rgba(71, 120, 212, 0.19);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header .hero .hero-copytext {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40%;
}

header .hero .hero-copytext h2,
p {
    margin-bottom: 1.6em;
}

header .hero .hero-copytext .cta-button {
    background: white;
    width: 240px;
    margin: 0 auto;
    padding: 1em;
    display: block;
    text-decoration: none;
}

section#our-goals .section-container .section-header .cta-button {
    width: 240px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #4779D4;
    display: block;
    text-decoration: none;
}

section#our-goals .section-container .section-body .goals-cards-container {
    height: 400px;
    position: relative;
}

section#our-goals .section-container .section-body .card {
    color: white;
    width: calc(100% /3);
    height: 400px;
    text-align: center;
    position: absolute;
}

section#our-goals .section-container .section-body .card:nth-child(1) {
    left: 0px;
}

section#our-goals .section-container .section-body .card:nth-child(2) {
    left: calc(100% /3);
}

section#our-goals .section-container .section-body .card:nth-child(3) {
    left: calc(100% /3 * 2);
}


section#our-goals .section-container .section-body .card .card-header .icon {
    width: 48px;
    margin: 1em 0;
}


section#our-goals .section-container .section-body .card:nth-child(odd) {
    background: #4779D4;
}

section#our-goals .section-container .section-body .card:nth-child(even) {
    background: #1A1A1A;
}


section#our-services .section-container .section-body .services-container {
    margin: auto;
    text-align: center;
}

section#our-services .section-container .section-body .services-container .service-card {
    background: #F1F1F1;
    width: calc(90% / 3);
    height: 70px;
    margin: 1em;
    display: inline-block;
    line-height: 70px;
    position: relative;
}

section#our-services .section-container .section-body .services-container .service-card img {
    width: 60px;
    position: absolute;
    top: 4px;
    left: -1.9em;
}

section#our-feature .section-container {
    background: #4779D4;
    text-align: center;
    color: white;
}

section#our-feature .section-container .card {
    display: inline-block;
    width: 22%;
    padding: 1em;
}

section#our-feature .section-container .card span {
    font-size: 40px;
    font-weight: bold;
}

section#our-feature .section-container .card img {
    width: 80px;
}

section#our-feature .section-container .card img {
    width: 80px;
}

.gallery{
    text-align: center;
}

.nav.portfolio{
    margin-bottom: 1em;
}

.nav.portfolio ul {
    list-style: none;
    text-align: center;
}

.nav.portfolio ul li {
    display: inline-block;
}

.nav.portfolio ul li a {
    color: #4779D4;
    margin-right: 1em;
    font-weight: bold;
    font-size: 2.8vh;
    text-decoration: none;
}

.nav.portfolio ul li a:hover,
.nav.portfolio .brand a:hover {
    color: black;
}

.nav.portfolio ul li a.active {
    color: black;
    border-bottom: 1px solid black;
}

.nav.portfolio ul li a.active:hover {
    color: white;
    border-bottom: 1px solid white;
}

footer{
    background: #4779D4;
    color: white;
    height: 40px;
    text-align: center;
}

/* Utility */

section .section-container .section-header {
    margin-bottom: 1em;
    text-align: center;
}

section .section-container .section-header hr {
    background: #4779D4;
    width: 70px;
    height: 0.1em;
    margin: 1em auto;
}

section .section-container .section-header p {
    text-align: center;
    margin-bottom: 1em;
}