body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

nav{
    /* background: black; */
    color: white;
    width: 100%;
    height: 64px;
    padding: 1em 0;
    position: relative;
}

nav ul{
    list-style: none;
    position: absolute;
    right: 24px;
}

nav .brand{
    display: inline-block;
    position: absolute;
    left: 24px;
    top: 28px;
    font-size: 1.6em;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a.active{
    text-decoration: underline;
    color: black;
}